@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:darkblue;
}

.wrapper{
    display: flex;
}

.wrapper .texto-estatico{
    font-size: 30px;
    color:lawngreen;

}

.wrapper .textos-dinamicos {
    margin-left: 15px;
}








.wrapper .textos-dinamicos li {
    list-style: none;
    font-size: 30px;
    position: relative;
    color:ghostwhite;
    top: 0;
    animation-name: slide;
    animation-duration: 4s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes slide {
    100% {
        top: -240px;
    }
}



.wrapper .textos-dinamicos li::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 2px solid ghostwhite;
    animation: typing 1s steps(12);
    background: yellow;
}



@keyframes typing{
    40% 60% {
        left: 100%;
    }
    100%{
        left: 0;
    }
}









